{% extends 'ChrisDissWebsiteBundle::layout.html.twig' %}

{% set bodyid = 'codeForm' %}

{% block content %}
    <p>
        Bitte geben Sie Ihren 5-stelligen Code ein, um fortzufahren.
    </p>

    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {% if (form.vars.valid == false) %}
            <div class="alert alert-danger">
                Dieser Code war ungültig. Bitte versuchen Sie es erneut.
            </div>
        {% endif %}

        {{ form_widget(form.code, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Code'}}) }}

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
