{% extends 'ChrisDissWebsiteBundle::layout.html.twig' %}

{% set bodyid = 'instructions' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/chrisdisswebsite/css/instructions.css') }}" rel="stylesheet" />
{% endblock %}

{% set heading = 'Anleitung' %}

{% block content %}
    <p>
        Eine Praktikantin sollte die neuen Blutröhrchen sortieren, hat dabei aber versehentlich alles durcheinander
        gebracht. Deshalb müssen Sie nun wieder Ordnung schaffen.
    </p>
    <p>
        Im folgenden werden Ihnen Bilder von Blutröhrchen gezeigt. Jedes Röhrchen wurde farblich beschriftet. Dabei
        wurde manchmal der richtige Farbstift benutzt, aber das falsche Wort hingeschrieben. Im Beispiel steht daher in
        <span class="red">roten</span> Buchstaben das Wort "BLAU".
    </p>
    <div class="blood-tube">
        <span class="red">BLAU</span>
    </div>
    <p>
        Zusätzlich wird zu jedem Blutröhrchen ein Fach angezeigt. Die Blutröhrchen sollen nun den Fächern zugeordnet
        werden. Jedes Fach ist mit einem Farbwort beschriftet, hier z.B. mit <b>"ROT"</b>.
    </p>
    <div class="tube-box">
        ROT
    </div>
    <p>
        Ihre Aufgabe ist es nun, <strong>so schnell wie möglich zu entscheiden, ob die tatsächliche
        Farbe des Blutröhrchens (hier <span class="red">rot</span>) und die Beschriftung des Fachs (hier das Wort "ROT")
        übereinstimmen</strong> oder nicht. Im Beispiel stimmen Sie überein.
    </p>

    <div class="well">
        <p>
            Wenn Farbe und Fach <strong>übereinstimmen</strong>, drücken Sie die Taste <strong>Y</strong>.
        </p>
        <p>
            Wenn Farbe und Fach <strong>nicht übereinstimmen</strong>, drücken Sie die Taste <strong>N</strong>.
        </p>
        <p>
            Wenn Sie sich <strong>vertippt</strong> haben, drücken Sie die <strong>Leertaste</strong>. Hierdurch machen
            Sie deutlich, dass Ihnen der Tippfehler aufgefallen ist. Der Tippfehler wird dann nicht bewertet.
        </p>
        <div class="image-keyboard"></div>
    </div>

    <p id="zu-den-uebungsaufgaben">
        <a href="{{ path('dryRun') }}" class="btn btn-lg btn-primary">Zu den Übungsaufgaben</a>
    </p>
{% endblock %}
