{% extends 'ChrisDissWebsiteBundle::layout.html.twig' %}

{% set bodyid = 'instructions' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/chrisdisswebsite/css/instructions.css') }}" rel="stylesheet" />
{% endblock %}

{% set heading = 'Anleitung' %}

{% block content %}
    <p>
        Eine Praktikantin sollte die neuen Blutröhrchen sortieren, hat dabei aber versehentlich alles durcheinander
        gebracht. Deshalb müssen Sie nun wieder Ordnung schaffen.
    </p>
    <p>
        Im folgenden werden Ihnen Bilder von Blutröhrchen gezeigt. Jedes Röhrchen wurde farblich beschriftet. Dabei
        wurde manchmal der richtige Farbstift benutzt, aber das falsche Wort hingeschrieben. Im Beispiel steht daher in
        <span class="red">roten</span> Buchstaben das Wort "BLAU".
    </p>
    <div class="blood-tube">
        <span class="red">BLAU</span>
    </div>
    <p>
        Zusätzlich wird zu jedem Blutröhrchen ein Fach angezeigt. Die Blutröhrchen sollen nun den Fächern zugeordnet
        werden. Jedes Fach ist mit einem Farbwort beschriftet, hier z.B. mit <b>"ROT"</b>.
    </p>
    <div class="tube-box">
        ROT
    </div>
    <p>
        Ihre Aufgabe ist es nun, <span class="underline bold">so schnell wie möglich zu entscheiden, ob die tatsächliche
        Farbe des Blutröhrchens (hier <span class="red">rot</span>) und die Beschriftung des Fachs (hier das Wort "ROT")
        übereinstimmen</span> oder nicht. Im Beispiel stimmen Sie überein.
    </p>
    <p>
        Wenn die Farbe und das Fach <span class="underline bold">übereinstimmen</span>, drücken Sie bitte die Taste
        <span class="bold">Y</span>.
    </p>
    <p>
        Wenn die Farbe und das Fach <span class="underline bold">nicht übereinstimmen</span>, drücken Sie bitte die
        Taste <span class="bold">N</span>.
    </p>

    <div class="important">
        <p>
            Wenn Sie sich <span class="underline bold">vertippt</span> haben, drücken Sie bitte einmal auf die
            <span class="bold">Leertaste</span>. Hierdurch machen Sie deutlich, dass Ihnen der Tippfehler aufgefallen
            ist und der Fehler wird nicht bewertet.
        </p>
        <div class="image-keyboard"></div>
        <p>
            Bitte tippen Sie so schnell wie möglich, da Sie für jedes Blutröhrchen <b>weniger als 2 Sekunden</b> haben.
        </p>
        <p>
            Sie können zunächst einige Übungsaufgaben bearbeiten.
        </p>
    </div>

    <p>
        <a href="{{ path('dryRun') }}">Zu den Übungsaufgaben</a>
    </p>
{% endblock %}
