html {
    background-color: #000000;
    color: #ffffff;
}

div.blood-tube, div.tube-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 60px;
}

div.blood-tube {
    width: 454px;
    height: 95px;
    background-image: url('../images/blood-tube.gif');
    padding-top: 28px;
}

div.tube-box {
    width: 445px;
    height: 73px;
    background-image: url('../images/tube-box.gif');
    padding-top: 50px;
    color: #FFF;
}

.bold {
    font-weight: bold;
}
