div#endOfQuestions {
    display:none;
    width: 650px;
    margin:auto;
}

div.verticalCenterWrapper {
    height:220px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

div#errorDetectionNotice, div.key {
    position: absolute;
    bottom: 50px;
    text-align: center;
}

div#errorDetectionNotice {
    width: 99%;
}

div.key {
    height: 110px;
    float: left;
    width: 100px;
    border: 3px solid #aaaaaa;
    background-color: #eeeeee;
    font-size: 100px;
    color: #000000;
}

div#answerMarkedErroneous {
    left: 120px;
}

#question, #lockedAnswer, .tube-box, #errorDetectionNotice, #answerMarkedErroneous, #answerEvaluation {
    display: none;
}

#userFocusMarker {
    text-align: center;
    font-size: 150px;
}

#answerEvaluation {
    text-align: center;
    margin-top: 120px;
}
