.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.red {
    color: #f00;
}

div.important {
    border: 1px solid blue;
}

div.image-keyboard {
    width: 708px;
    height: 163px;
    background-image: url('../images/initialInstructions/keyboard.png');
    margin-left: auto;
    margin-right: auto;
}
