.red {
    color: #f00;
}

div.important {
    border: 1px solid blue;
}

div.image-keyboard {
    width: 708px;
    height: 163px;
    background-image: url('../images/instructions/keyboard.png');
    margin-left: auto;
    margin-right: auto;
}

p#zu-den-uebungsaufgaben {
    margin-top: 10px;
    text-align: center;
}
